.main {
  display: flex;
  flex-direction: row;
  height: 100%;
  .menu {
    width: 200px;
    flex-shrink: 0;
    background-color: #161b1d;
    overflow-x: hidden;
    overflow-y: auto;
    a {
      display: block;
      color: #fff;
      padding: 15px 15px 0px 15px;
      text-decoration: none;
    }
  }
  .centent {
    flex-grow: 1;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
